@media (max-width: 768px) {
  .container {
    margin: 10px;
  }

  .form-container {
    padding: 20px;
  }

  .form-row {
    grid-template-columns: 1fr;
  }

  .btn-group {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  body {
    padding: 0;
  }

  .section-title {
    font-size: 1rem;
  }

  .section {
    padding: 15px;
  }

  .form-container {
    padding: 15px;
  }

  .btn-secondary  {
    margin-bottom: 10px;
  }
}
